
VITE_FIREBASE_API_KEY=AIzaSyCw1SD-DIPPkEjkR6wCXdtSIXTgtZUII3A
VITE_FIREBASE_AUTH_DOMAIN=sakucerdas-100ac.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sakucerdas-100ac
VITE_FIREBASE_STORAGE_BUCKET=sakucerdas-100ac.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=787224672427
VITE_FIREBASE_APP_ID=1:787224672427:web:755e8168b69c5cb8b9dfee
