# SUPABASE CONFIG
SUPABASE_URL=YOUR_SUPABASE_PROD_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_PROD_ANON_KEY

# GNEWS CONFIG
GNEWS_API_KEY=YOUR_GNEWS_API_KEY_HERE

# SERVER CONFIG
PORT=8000
NODE_ENV=production
